<br>
<br>
<br>
<%= @user.first_name %>  <%= @user.last_name %> 
<br>
<br>
<br>

Your Events: 
<br>
<% @user_created_events.each do |event|%>
<br>
<a href="/events/:id"><%= event.name %></a>
<br>
<% end %>
<br>
<br>

Upcoming Events: 
<br>

<br>
<br>


<button type="button"><a href= "/events/create">Create Your Next Event</a></button>