<br>
<br>
<br>
<br>
<br>
<br>
<html>
<form action="/events" method="post"> 	

	<br>
	Name: <input type="text" name="event[name]" placeholder=" Name of Event">
	<br>
	<br>

	Details: <input class: "details" type="text" name="event[description]" placeholder="Give some details on your event here....">
	<br>
	<br>
	Time of Event:	<input type="datetime-local" name="event[date]">
	<br>
	<br>

	<select name="event[category]" placeholder="">
		<option>SELECT A CATEGORY</option>
		<option value="baby Shower">Baby Shower</option>
		<option value="bachelor party">Bachelor Party</option>
		<option value="bachelorette party">Bachelorette Party</option>
		<option value="birthday">Birthday</option>
		<option value="block party">Block Party</option>
		<option value="bridal Shower">Bridal Shower</option>
		<option value="cast party">Cast Party</option>
		<option value="cooking party">Cooking Party</option>
		<option value="costume party">Costume Party</option>
		<option value="dance party">Dance Party</option>
		<option value="dinner party">Dinner Party</option>
		<option value="engagement party">Engagement Party</option>
		<option value="farewell party">Farewell Party</option>
		<option value="full moon party">Full Moon Party</option>
		<option value="fundraising event">Fundraising Event</option>
		<option value="grad party">Graduation Party</option>
		<option value="holiday party">Holiday Party</option>
		<option value="house party">House Party</option>
		<option value="housewarming party">Housewarming Party</option>
		<option value="ice cream social">Ice Cream Social</option>
		<option value="tailgate">Tailgate</option>
		<option value="tea party">Tea Party</option>
		<option value="theme party">Theme Party</option>
		<option value="silent disco">Silent Disco</option>
		<option value="sleepover">Sleepover</option>
		<option value="surprise party">Surprise Party</option>
		<option value="welcome party">Welcome Party</option>
		<option value="other">Other</option>
		
	</select>

	sycn w/ gmail to invite contacts
	<br>
	<br>

	<button type="submit">Get the party started!</button>
</form>


</html>
