<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <center>


    <% if current_user %>
    <ul>
     <button type="button"><a href="/sessions/logout"> Log Out</a></button>
     <% else %>
     <ul>
       <button type="button"><a href="/sessions/login">Log in</a></button>

       <button type="button"><a href="/users/new">Sign Up</a></button>
       <% end %>

       <%= yield %>
     </center>
   </body>
   </html>
